body
{
    background-color:#CBAB83;
    font-family: "Mulish", sans-serif; 
    color:white
    
}
p
{
    font-size:1.29rem;
    line-height:2.2rem ;
    margin-bottom:2rem;
}


a
{
    text-decoration: none;
    color:black;
}

h3
{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: "Mulish", sans-serif; 

}


/* HEADER */

#bandeau
{
    background-image: url('img/banner/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 60rem;
    box-shadow: 0 5px 15px rgb(102, 56, 13);
    
}
h1
{
    padding:2rem;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 10rem;
    font-family: "Playfair Display", serif;
    padding-top: 18rem;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0) ;
    animation-duration: 2s;
    animation-name: slidein;
}

    @keyframes slidein {
        from {
        margin-left: 100%;
        width: 300%;
        }
    
        to {
        margin-left: 0%;
        width: 100%;
        }
    }

    
#h2bandeau
{
    font-size: 5rem;
    text-align: center;
    padding-left:18rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    /*color:rgba(255, 255, 255, 0.733);*/
    color:#cbab83d7;
    -webkit-text-stroke: 0.3px black ;
    animation-duration: 3s;
    animation-name: hiddentoview;
}
    @keyframes hiddentoview
    {
        from {
            margin-left: 100%;
            width: 300%;
        }
        
        to {
            margin-left: 0%;
            width: 100%;
        }
        }
/*FOOTER*/

footer
{
    text-align: center;
    height:5rem;
    box-shadow: 0 5px 15px rgb(102, 56, 13);


}
#footerText
{
    font-size: 1.2rem;    
    padding-top: 1.5rem;
}


/*SECTION : MON PARCOURS*/

.colorButton
{
    border:none;
    background-color: white;
    color:#cbab83d7;
    font-size: 1.1rem;
    margin-bottom:0.2rem;
}
.colorButton:hover
{
    background-color: rgba(102, 56, 13, 0.445);
}
section
{
    /*box-shadow: 0 1px 15px rgb(102, 56, 13);*/
    padding-bottom:5rem;
    margin-bottom: 3rem;
    box-shadow: rgb(102, 56, 13) 0px 10px 25px -20px

}


/*SECTION : MES COMPETENCES*/

    /*TABLES*/
    .progress
    {
        --bs-progress-border-radius:10rem;
        /*--bs-progress-bar-bg: #cbab8398;*/
        /*--bs-progress-bar-bg: #86541669;*/
        --bs-progress-bar-bg: rgba(102, 56, 13, 0.445);
        --bs-progress-bg: rgba(255, 255, 255, 0.219);
        width:17rem;
        height: 2rem;
        
    }
    .table
    {
        --bs-table-bg: transparent;
        /*--bs-table-color:rgba(102, 56, 13, 0.445);*/
        --bs-table-color:white;
    }
    td
    {

        font-size: 1.8rem;

    }

#competence
{
    justify-content: space-around;
}
.logos
{
    width:3.5rem;
}
.blocCompetence
{
    margin-bottom: 0rem;
    padding-bottom: 2rem;
}

/*SEPARATION*/
.forest
{
    background-image: url('img/banner/Forest2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 22rem;
    box-shadow: 0 5px 15px rgb(102, 56, 13);
}

/*SECTION: CONTACT*/

.blocContact p
{
    text-align: center;
    margin-bottom:1rem;

}
.blocContact
{
    margin-top:2rem;
    margin-bottom:0rem;
    padding-bottom:1.5rem;
}
.blocContact h3
{
    margin-bottom:2rem
}

/*SECTION : MES PROJETS*/

.card
{
    background-color: #cbab83d7;
    background-color: rgba(255, 255, 255, 0.219);
    color:white;
    --bs-border-width:0.1px;
    --bs-card-border-color: rgba(255, 255, 255, 0.219);
    --bs-card-border-radius:1rem;
    margin:auto;
}
.card-body
{
    text-align: center;


}
.card-img-top
{
    height:30rem;
}
.card-title
{
    font-size: 2.7rem;
    font-family: "Playfair Display", serif;
    color: white;
}
.cardTop
{
    background-color:  rgba(255, 255, 255, 0.219); 
    border-radius: 1rem 1rem 0rem 0rem;

}



/*RESPONSIVE - MEDIAS QUERRIES*/

@media (max-width: 700px) 
{
    /*Initialisation*/
    body
    {
        margin: 0;
        padding:0;
        font-size: 100%;
        vertical-align: baseline;
    }
    *
    {
        box-sizing: border-box;
    }

    /*Bannière*/

    #bandeau
    {
        height: 44rem;
        
    }
    h1
    {

        font-size: 3.5rem;
        animation:none;
    }

    #h2bandeau
    {
        padding-left:0rem;
        font-size: 3rem;
        animation:none;
    }
    /*Cards*/
    .card
    {
        width:100%
    }
    .card-img-top
    {
        height:100%;
    }
    /*Parcours */
    .parcours
    {
        text-align: center;
    }
    /*Compétences*/
    .col-3
    {
        width:50%;
    }

    td
    {
        font-size: 1rem;

    }
    .logos
    {
        width:2.5rem;
    }

} 